<!DOCTYPE html>
<html>
<head>
	<title></title>
	
 <link rel="icon" type="image/png" href="image/logo.jpg">
         <link rel="stylesheet" type="text/css" href="style.css">
		 <style type="text/css">
		img{
			float: left;
		}
	</style>
</head>
<body>
	{{>header}}
<form>
</body>
</html>