<!DOCTYPE html>
<html>
    <head>
        <Title>digimall</Title>
        <link rel="icon" type="image/png" href="image/logo.jpg">
         <link rel="stylesheet" type="text/css" href="style.css">
         <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
{{>header}}
<div class="slideshow-container">

<div class="mySlides fade">
  <img src="image/mob2.jpg" style="width:100%;height: 300px;">
 </div>

<div class="mySlides fade">
 <img src="image/mob3.jpg" style="width:100%;height: 300px;">
  </div>

<div class="mySlides fade">
  <img src="image/mob4.jpg" style="width:100%;height: 300px;">
</div>

</div>

<div class="category">
    <div class="smallcontainer">
        <h2 class="title">Featured Products</h2>
    <div class="row">
 
  <div  class="col">
<img src="image/s1.jpg">
<h4> Barker Shoes</h4>
<p>$50.00</p>
<a href="/cart"><button class="cartbtn" id="one">Add to Cart</button></a>
  </div></form>

 
  <div class="col">
    <img src="image/s2.jpg">
    <h4> Running Shoes</h4>
<p>$60.00</p>
<a href="/cart"><button class="cartbtn">Add to Cart</button></a>
      </div>
      
      <div class="col">
        <img src="image/s3.jpg">
        <h4> Wide Shoes</h4>
<p>$30.00</p>
<a href="/cart"><button class="cartbtn">Add to Cart</button></a>
          </div>
          <div class="col">
            <img src="image/s4.jpg">
            <h4> Red Wing Shoes</h4>
<p>$20.00</p>
<a href="/cart"><button class="cartbtn">Add to Cart</button></a>
              </div>
            
                  </div>
</div>
<div class="smallcontainer">
    <h2 class="title">Featured Products</h2>
<div class="row">
<div class="col">
<img src="image/w1.jpg">
<h4> Barker Shoes</h4>
<p>$50.00</p>
<button class="cartbtn">Add to Cart</button>
</div>
<div class="col">
<img src="image/w2.jpg">
<h4> Running Shoes</h4>
<p>$60.00</p>
<a href="/cart"><button class="cartbtn">Add to Cart</button></a>
  </div>
  <div class="col">
    <img src="image/w3.jpg">
    <h4> Wide Shoes</h4>
<p>$30.00</p>
<a href="/cart"><button class="cartbtn">Add to Cart</button></a>
      </div>
      <div class="col">
        <img src="image/w4.jpg">
        <h4> Red Wing Shoes</h4>
<p>$20.00</p>
<a href="/cart"><button class="cartbtn">Add to Cart</button></a>
          </div>
          
</div>
</div>
</div>
<div class="offer">
<div class="smallcontainer">
 <div class="col2">
<img src="image/ad.jpg" class="offerimg">
</div>
<div class="col3">
<p>Exclusively Available on RedStore</p>
<h1>Smart Brand 4</h1>
<p>The Mi smart brand 4 features a 39.9% larger<br>
     (than Mi brand 3) AMOLED color full-touched display <br>with 
    adustable brightness, so everthing is clear as can be.
</p><br><br>
<a href="" class="btn" >Buy Now &#8594;</a>
</div>

</div>
</div>
<div class="smallcontainer">
  <h2 class="title">Featured Products</h2>
<div class="row">
<div class="col">
<img src="image/c1.jpg">
<h4> Barker Shoes</h4>
<p>$50.00</p>
<a href="/cart"><button class="cartbtn">Add to Cart</button></a>
</div>
<div class="col">
<img src="image/c2.jpg">
<h4> Running Shoes</h4>
<p>$60.00</p>
<a href="/cart"><button class="cartbtn">Add to Cart</button></a>
</div>
<div class="col">
  <img src="image/c3.jpg">
  <h4> Wide Shoes</h4>
<p>$30.00</p>
<a href="/cart"><button class="cartbtn">Add to Cart</button></a>
    </div>
    <div class="col">
      <img src="image/c4.jpg">
      <h4> Red Wing Shoes</h4>
<p>$20.00</p>
<a href="/cart"><button class="cartbtn">Add to Cart</button></a>

        </div>
        
</div>
</div>

<div class="testimonial">
  <div class="smallcontainer">
  
  <div class="row">
  <div class="col4">
  <i class="fa fa-quote-left"></i>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur laboriosam cupiditate, 
  placeat deserunt illo vero voluptatem omnis, ab, 
  voluptates commodi impedit labore incidunt velit consectetur fuga. Praesentium a hic autem?</p>
</p>
<div class="rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star-o"></i>
</div>

<img src="image/t1.jpg">
<h3>sean parker</h3>
  </div>
  <div class="col4">
    <i class="fa fa-quote-left"></i>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur laboriosam cupiditate, 
      placeat deserunt illo vero voluptatem omnis, ab, 
      voluptates commodi impedit labore incidunt velit consectetur fuga. Praesentium a hic autem?</p>
    </p>
    <div class="rating">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-o"></i>
    </div>
    <img src="image/t2.jpg">
    <h3>sean parker</h3>
  </div>
  <div class="col4">
    <i class="fa fa-quote-left"></i>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur laboriosam cupiditate, 
  placeat deserunt illo vero voluptatem omnis, ab, 
  voluptates commodi impedit labore incidunt velit consectetur fuga. Praesentium a hic autem?</p>
</p>
<div class="rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star-o"></i>
</div>
<img src="image/t3.jpg">
<h3>sean parker</h3>
      </div>   
  </div>
  </div>
  </div>

<div class="brands">
  <div class="smallcontainer">
    
  <div class="row">
  <div class="col5">
  <img src="image/b1.jpg">
  
  </div>
  <div class="col5">
  <img src="image/b2.png">
  
  </div>
  <div class="col5">
    <img src="image/b3.jpg">

      </div>
      <div class="col5">
        <img src="image/b4.png">
        
          </div>
          <div class="col5">
            <img src="image/b5.png">
            
              </div>
  </div>
  </div>
</div>

<footer>
<div class="container">
  <div class="row">
<div class="footercol1">
<h3>Download Our App</h3>
<p>Download App for Android and ios mobile phone</p>
<div class="applogo">
<img src="image/p1.jpg">
<img src="image/p2.png">
</div>
</div>
<div class="footercol2">
  <b class="logo2">Digimall</b><br><br>
<h5>Our purpose Is To Sustainbly Make the Pleasure and Benefits of Sports Accessible <br>to the Many.<h5>
</div>
<div class="footercol3">
<h3>Useful Links</h3>
<ul>
  <li>Coupons</li>
  <li>Blog Posts</li>
  <li>Return Policy</li>
  <li>Join Affiliate</li>
</ul>
</div>
<div class="footercol4">
  <h3>Follow Us</h3>
  <ul>
    <li>Facebook</li>
    <li>Twitter</li>
    <li>Instagram</li>
    <li>Youtube</li>
  </ul>
  
  </div>
  
</div>

  </div>
  <hr>
  <p class="copyright">copyright 2020 - Gitanjali</p>  
</footer>

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  
  slides[slideIndex-1].style.display = "block";  
  
  setTimeout(showSlides, 3000);
}
</script>

    </body>
</html>