<!DOCTYPE html>
<html>
    <head>
<link rel="icon" type="image/png" href="image/logo.jpg">
         <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        
{{>header}}
<div class="smallcontainer">
    <h2 class="title">Featured Products</h2>
<div class="row">
<div class="col">
<img src="image/w1.jpg">
<h4> Barker Shoes</h4>
<p>$50.00</p>
<button class="cartbtn">Add to Cart</button>
</div>
<div class="col">
<img src="image/w2.jpg">
<h4> Running Shoes</h4>
<p>$60.00</p>
<button class="cartbtn">Add to Cart</button>
  </div>
  <div class="col">
    <img src="image/w3.jpg">
    <h4> Wide Shoes</h4>
<p>$30.00</p>
<button class="cartbtn">Add to Cart</button>
      </div>
      <div class="col">
        <img src="image/w4.jpg">
        <h4> Red Wing Shoes</h4>
<p>$20.00</p>
<button class="cartbtn">Add to Cart</button>
          </div>
</div>
</div>
</div>
    </body>
</html>