<!DOCTYPE html><html>
<head>

    <link rel="icon" type="image/png" href="image/logo.jpg">
         <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<header>
 
<b class="logo1">Digimall</b>
  <div id="n1">
  <nav>
     <ul id="main-nav">
         <li class="n1"><a href="home">Home</a></li>
         <li class="n1"><a href="">category</a>
            <ul id="sub-nav">
                <li><a href="jeans" >Jeans</a></li>
                <li><a href="tshirts" >T-shirts</a></li>
                <li><a href="electronics" >Electronics</a></li>
            </ul>
        </li>
         <li class="n1"><a href="more">More</a></li>
         <li class="n1"><a href="cart" >Cart </a>
         </li>
         <li class="n1"><a href="login">login And Sign Up</a></li>
         <button class="search" type="button"><a href="#" style="color: black;">Search</a></button> 
        </ul>
    </nav>
  </div>

</header>
</body>
</html>